{
  "parser"  : "babel-eslint",
  "extends" : [
    "airbnb"
  ],
  "plugins" : [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "Action"       : false,
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false,
    "__BASENAME__" : false
  },
  "rules": {
    "semi" : [1, "always"],
    "max-len": [2, 120, 2],
    "import/no-unresolved": 1,
    "jsx-quotes": 0,
    "no-underscore-dangle": 0,
    "comma-dangle":[1, "never"]
  }
}
